@model List<TrackJobs.Areas.Member.Data.JobOffer>
@{
    ViewData["Title"] = "Member - Home Page";
}

<div class="text-center">
    <h1>
        My Offers (@Model.Count())
    </h1>
    <a asp-controller="JobOffer" asp-action="Create" class="btn btn-premier" >Add New</a>

    <hr/>

    <div class="row">
        <div class="col-md-12" style="text-align:right; margin-bottom: 10px;">
            <span class="premier-color"><strong>order by:</strong></span>
            <a asp-controller="Home" asp-action="Index" asp-route-orderBy="favorite" class="btn btn-premier">Favorite</a>
            <a asp-controller="Home" asp-action="Index" asp-route-orderBy="activity" class="btn btn-premier">Activity</a>
            <a asp-controller="Home" asp-action="Index" asp-route-orderBy="applied" class="btn btn-premier">Applied</a>
        </div>
        <div class="col-md-12" style="text-align:right; margin-bottom: 5px;">
            @using (Html.BeginForm())
            {
                @Html.TextBox("searchString", null, new { @style="border-radius: 4px;"}) 
                <input class="btn btn-premier" type="submit" value="Search" />
            }
        </div>
    </div>

    @if(ViewBag.jobOffers.Count == 0)
    {
        <p>(no job offer to show)</p>
    }
    else
    {
        <div class=row>

            @foreach(var offer in ViewBag.jobOffers)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                <a asp-controller="JobOffer" asp-action="ChangeFavorite" asp-route-id="@offer.GuId" style="text-decoration: none;">
                                  @{var favorite = offer.IsFavorite == true ? "bi-star-fill" : "bi-star"; }<i class="bi @favorite text-warning"></i>
                                </a>
                                @offer.CompanyName 
                            </h5>
                            <div >
                            <i style="font-size: 2rem; cursor: pointer;" class="bi bi-menu-button-wide" id="@String.Concat("toggleButton", @offer.GuId)" ></i>
                            </div>
                        </div>
                        
                        <div id="@offer.GuId" class="card-body">
                            <div class="card-title"><strong>@offer.OfferTitle</strong></div>
                            <div style="display: flex-wrap;">
                                <a asp-controller="JobOffer" asp-action="Edit" asp-route-id="@offer.GuId" style="margin: 2px;" class="btn btn-premier">Edit</a> |
                                <a asp-controller="JobOffer" asp-action="Details" asp-route-id="@offer.GuId" style="margin: 2px;" class="btn btn-premier">Details</a> |
                                <a asp-controller="JobOffer" asp-action="Close" asp-route-id="@offer.GuId" style="margin: 2px;" class="btn btn-supprimer">Close</a> |
                                <a asp-controller="JobOffer" asp-action="Reject" asp-route-id="@offer.GuId" style="margin: 2px;" class="btn btn-supprimer">Reject</a> 
@*                                <a asp-controller="JobOffer" asp-action="Delete" asp-route-id="@offer.GuId" style="margin: 2px;" class="btn btn-supprimer">Delete</a>
*@                            </div>
                                
                            <div class="extra-info center justify-content-center align-content-center align-items-center align-self-center text-center" style="display: none;">
                            <hr />
                            <div style="display: inline-flex;">
                                <div>
                                    <p><a asp-controller="Communication" asp-action="Index" asp-route-id="@offer.GuId" asp-route-title="@offer.OfferTitle">@{ var communication = offer.Communications.Count < 2 ? "Activity" : "Activities"; } @communication: @offer.Communications.Count
                                        <br/>See All</a>
                                    </p>
                                    <a asp-controller="Communication" asp-action="Create" asp-route-id="@offer.GuId" class="btn btn-premier">Add Activity</a>
                                </div>
                                <hr style="width: 1px; height: 60px; display: inline-block; margin-left: 10px; margin-right: 10px;">
                                <div>
                                    <p><a asp-controller="Contact" asp-action="Index" asp-route-id="@offer.GuId" asp-route-title="@offer.OfferTitle">@{ var contact = offer.Contacts.Count < 2 ? "Contact" : "Contacts"; } @contact: @offer.Contacts.Count
                                        <br/>See All</a>
                                    </p>
                                    <a asp-controller="Contact" asp-action="Create" asp-route-id="@offer.GuId" class="btn btn-premier">Add Contact</a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            source: @offer.Source.Name
                            <div>
                                @{
                                    if (offer.AppliedOn != null)
                                    {
                                        <span>applied:</span> @offer.AppliedOn?.ToString("dd MMMM yyyy")
                                    } else
                                    {
                                        <span>not applied yet</span>;
                                    }
                                }
                            </div>
                            <div>
                                @{
                                    if(offer.Communications.Count > 0)
                                    {
                                        <span>last activity:</span> @offer.Communications[offer.Communications.Count - 1].Date.ToString("dd MMMM yyyy")
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    }

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(() => {
        $(".bi-menu-button-wide").click((event) => {
            console.log(event.target.id.split('toggleButton')[1]);
            var id = event.target.id.split('toggleButton')[1];

            var display = $(`#${id} .extra-info`).css("display");

            display == "block" ? 
                $(`#${id} .extra-info`).css({"display":"none"}) : 
                $(`#${id} .extra-info`).css({"display":"block"});

        });
    });
</script>