@{
    ViewData["Title"] = "Member - Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>name: @ViewBag.user.UserName</p>
    <a asp-controller="JobOffer" asp-action="Create" class="btn btn-dark">Add New Offer</a>

    <hr/>

    <h3>My Offers</h3>


    @if(ViewBag.jobOffers.Count == 0)
    {
        <p>(no job offer to show)</p>
    }
    else
    {
        <div class=row>

            @foreach(var offer in ViewBag.jobOffers)
            {
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <a asp-controller="JobOffer" asp-action="ChangeFavorite" asp-route-id="@offer.Id" style="text-decoration: none;">
                              @{var favorite = offer.IsFavorite == true ? "bi-star-fill" : "bi-star"; }<i class="bi @favorite text-warning "></i>
                            </a>
                            @offer.CompanyName
                        </div>
                        <div class="card-body">
                            <div class="card-title" onclick="ChangeFavorite(@offer.Id)">@offer.OfferTitle</div>
                            <div class="card-subtitle">offer id: @offer.Id</div>
                            <a asp-controller="JobOffer" asp-action="Edit" asp-route-id="@offer.Id" class="btn btn-primary">Edit</a> |
                            <a asp-controller="JobOffer" asp-action="Details" asp-route-id="@offer.Id" class="btn btn-primary">Details</a> |
                            <a asp-controller="JobOffer" asp-action="Delete" asp-route-id="@offer.Id" class="btn btn-danger">Delete</a>
                            <hr />

                            <a asp-controller="Contact" asp-action="Index" asp-route-id="@offer.Id" asp-route-title="@offer.OfferTitle">See All</a>
                            <p>@{ var contact = offer.Contacts.Count < 2 ? "Contact" : "Contacts"; } @contact: @offer.Contacts.Count</p>
                            <a asp-controller="Contact" asp-action="Create" asp-route-id="@offer.Id" class="btn btn-info">Add Contact</a>
                            <hr />

                            <a asp-controller="Communication" asp-action="Index" asp-route-id="@offer.Id" asp-route-title="@offer.OfferTitle">See All</a>
                            <p>@{ var communication = offer.Communications.Count < 2 ? "Communication" : "Communications"; } @communication: @offer.Communications.Count</p>
                            <a asp-controller="Communication" asp-action="Create" asp-route-id="@offer.Id" class="btn btn-secondary">Add Communication</a>
                        </div>
                        <div class="card-footer text-muted">source: @offer.Source.Name</div>
                    </div>
                </div>

            }
        </div>
    }

</div>