@model TrackJobs.Areas.Member.Data.JobOffer

@{
    ViewData["Title"] = "Close";
}

<h1>Close</h1>

<h3>Are you sure you want to close this?</h3>
<div>
    <h4>Job Offer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            Applied On
        </dt>
        <dd class = "col-sm-8">
            @Model.AppliedOn?.ToString("dd MMMM yyyy")
        </dd>
        <dt class = "col-sm-4">
            Company Name
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-4">
            Offer Title
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.OfferTitle)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Source.Name)
        </dd>
        <dt class = "col-sm-4">
            Link to Offer
        </dt>
        <dd class = "col-sm-8">
            <a href="@Html.DisplayFor(model => model.LinkToOffer)" target="_blank">@Html.DisplayFor(model => model.LinkToOffer)</a>
        </dd>
    </dl>
    
    <form asp-action="Close">
        <input type="hidden" asp-for="GuId" />
        @{
            if(User.IsInRole("Member"))
            {
                <input type="submit" value="Close" class="btn btn-supprimer" />
            }
            if(User.IsInRole("Demo"))
            {
                <input type="submit" value="Close" class="btn btn-supprimer" disabled />
                <span>(disabled for demo)</span>
            }
        }

        | <a asp-controller="Home" asp-action="Index">Back to My Job Offers</a>
    </form>
</div>
