@model TrackJobs.Areas.Member.Data.JobOffer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

 <div>
    <h3>@Model.CompanyName</h3>
    <h4>
        @{var favorite = @Model.IsFavorite == true ? "bi-star-fill" : "bi-star"; }<i class="bi @favorite text-warning "></i>
        @Model.OfferTitle
    </h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
        <h5>General</h5>
            <dl class="col-lg-12">
                @if(Model.RejectionFeedback != null)
                {
                    <dt class = "col-sm-4">
                        Feedback
                    </dt>
                    <dd class = "col-sm-8">
                        @Model.RejectionFeedback
                    </dd>
                }
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Salary)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Salary)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Source)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Source.Name)
                </dd>
                <dt class = "col-sm-4">
                    Link to Offer
                </dt>
                <dd class = "col-sm-8">
                    <a href="@Html.DisplayFor(model => model.LinkToOffer)" target="_blank">@Html.DisplayFor(model => model.LinkToOffer)</a>
                </dd>
                <dt class = "col-sm-4">
                    Sent Resume
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.HasSentResume)
                </dd>
                <dt class = "col-sm-5">
                    Sent Cover Letter
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.HasSentCoverLetter)
                </dd>


            </dl>
        </div>

        <div class="col-md-4">
    <label></label>
            <dl class="col-lg-12">
                <dt class = "col-sm-4">
                    Applied On
                </dt>
                <dd class = "col-sm-8">
                    @Model.AppliedOn?.ToString("dd MMMM yyyy")
                </dd>
                <dt class = "col-sm-4">
                    Interviewed
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.HasInterviewed)
                </dd>
                <dt class = "col-sm-4">
                    @{ var activity = Model.Communications.Count < 2 ? "Activity" : "Activities"; } <a asp-controller="Communication" asp-action="Index" asp-route-id=@Model.GuId >@activity</a>
                </dt>
                <dd class = "col-sm-8">
                    @Model.Communications.Count
                </dd>
                <dt class = "col-sm-4">
                    @{ var contact = Model.Contacts.Count < 2 ? "Contact" : "Contacts"; } <a asp-controller="Contact" asp-action="Index" asp-route-id=@Model.GuId >@contact</a>
                </dt>
                <dd class = "col-sm-8">
                    @Model.Contacts.Count
                </dd>
                <dt class = "col-sm-4">
                    Interview Date
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.InterviewDate)
                </dd>


            </dl>
        </div>

        <div class="col-md-4">
        <h5>Optional</h5>
            <dl class="col-lg-12">
                <dt class = "col-sm-4">
                    Perks
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Perks)
                </dd>
                <dt class = "col-sm-4">
                    Pros
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Pros)
                </dd>
                <dt class = "col-sm-4">
                    Cons
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Cons)
                </dd>
            </dl>
        </div>
        <h5>Description</h5>
        <textarea class="col-md-12" style="min-height: 300px;">
            @Model.Description?.Replace("<br/>", "\r\n")
        </textarea>


    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.GuId">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to My Job Offers</a>
</div>
