@model TrackJobs.Areas.Member.Data.JobOffer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobOffer</h4>
    <hr />
    <label>General</label>
    <dl class="row">
       <dt class = "col-sm-2">
            Company Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            Offer Title
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source.Name)
        </dd>
        <dt class = "col-sm-2">
            Link to Offer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkToOffer)
        </dd>
        <dt class = "col-sm-2">
            Is Favorite
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFavorite)
        </dd>

    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasSentResume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasSentResume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasSentCoverLetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasSentCoverLetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasInterviewed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasInterviewed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppliedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppliedOn)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to My Job Offers</a>
</div>
