@model IEnumerable<TrackJobs.Areas.Member.Data.Communication>

@{
    ViewData["Title"] = "Index";
}

<h1>Activity List for Job @ViewBag.jobTitle</h1>

<p>
    <a asp-controller="Home" asp-action="Index">Back to List My Job Offers</a> |
    <a asp-action="Create" asp-route-id=@ViewBag.jobOfferId >Create New Activity</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if(item.CommunicationType == "received")
            {
                <tr style="text-align: left;">
                    <td>
                        <div style="font-weight: bold;">@item.Date.ToString("dd MMMM yyyy") - @Html.DisplayFor(modelItem => item.CommunicationType)  @Html.DisplayFor(modelItem => item.Title)</div>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="row-cols-sm-4">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="row-cols-sm-4">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="row-cols-sm-4">Delete</a>
                        <br/><br/>

                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            } else
            {
                <tr>
                    <td style="text-align: right;">
                        <div style="font-weight: bold;">@item.Date.ToString("dd MMMM yyyy") - @Html.DisplayFor(modelItem => item.CommunicationType)  @Html.DisplayFor(modelItem => item.Title)</div>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="row-cols-sm-4">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="row-cols-sm-4">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="row-cols-sm-4">Delete</a>
                        <br/><br/>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<div>
    <a href="javascript: history.go(-1)">Go Back</a>
</div>
